<p>Hey <%= @member_name %></p>
<br>
<p>Your evaluation for the course <%= @course %> has been scheduled on <%= @date.strftime("%B %d, %Y") %> at <%= @start_time.strftime("%I:%M %p") %> <%= @timezone %>.</p>
<br>
<p>Your evaluator is <%= @evaluator %></p>
<br>
<p>Please prepare well and be on time for the evaluations.</p>
<br>
<p>Best of luck!</p>
<p>Team School</p>